In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle('df_2017-london-marathon-2017.pkl')
df.head()

,hashedid,hashedathleteid,startdate,startdatelocal,totaldistance,elevgain,startlatapprox,startlngapprox,cumulative_elevation_gain,cumulative_elevation_loss,...,geom,geog,distance_100,time_100,elevation_100,cadence_100,heartrate_100,pace_diff_100,pace_cumul_100,gap_100
0,95ddefe02c667abc7e449159804acdadd33ab690767e60...,9476162dd80f399d8b8019fe3c33d86ab324ba652be562...,2017-04-23 09:01:47,2017-04-23 10:01:47,42987.1,148.039,51.47,0.01,200.0,229.0,...,0101000020E610000000000040E17A843F0000000029BC...,0101000020E610000000000040E17A843F0000000029BC...,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 34.039024, 64.84619, 94.783936, 123.9860...","[42.7, 44.000004, 44.231876, 43.991158, 44.148...",[],"[124.0, 165.06412, 172.00883, 189.06175, 184.5...","[1e-05, 5.486274, 5.23594, 5.017931, 4.783493,...","[25.0, 5.67318, 5.403746, 5.265825, 5.166199, ...","[0.0, 5.115103, 5.170641, 5.08384, 4.742967, 4..."
1,95e238205210d9410e4fe0ecbab3df223313340a83f3ab...,1d451ca69475b02a540536e6d8303ff0e9a2189fc603af...,2017-04-23 09:02:22,2017-04-23 10:02:22,42436.4,172.720,51.47,0.00,191.0,233.0,...,0101000020E610000000000000000000000000000029BC...,0101000020E610000000000000000000000000000029BC...,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 23.38406, 48.982754, 75.6115, 102.20331,...","[44.2, 44.509953, 43.50354, 42.902058, 42.7556...","[62.0, 100.199394, 96.13578, 96.58066, 95.7775...",[],"[1e-05, 4.088528, 4.540111, 4.395275, 4.337309...","[25.0, 3.896713, 4.082259, 4.200669, 4.258449,...","[0.0, 4.020532, 4.795212, 4.541101, 4.371863, ..."
2,95e4bee9c5287aa9339a15f43f7a7262a827cfcf65a1d7...,912180a889addc1320448dad144b09afb0b2ac8a2e5fdd...,2017-04-23 09:14:24,2017-04-23 10:14:24,48148.6,213.668,51.47,0.00,226.0,254.0,...,0101000020E610000000000000000000000000000029BC...,0101000020E610000000000000000000000000000029BC...,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 43.40611, 79.21527, 113.43089, 146.13931...","[43.9, 44.791477, 44.294205, 43.18896, 42.7954...",[],[],"[1e-05, 10.208913, 3.34587, 3.3863, 4.578401, ...","[25.0, 7.235872, 6.601139, 6.301589, 6.089155,...","[0.0, 9.729244, 3.437359, 3.595867, 4.677167, ..."
3,95e7b6abd37f03f872454c8f136e3d6784080291d53f97...,f71c47c9d4b221081955aad7b74459965704586fe5b7bf...,2017-04-23 09:05:36,2017-04-23 10:05:36,43456.8,177.673,51.47,0.01,208.0,226.0,...,0101000020E610000000000040E17A843F0000000029BC...,0101000020E610000000000040E17A843F0000000029BC...,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 33.455444, 68.01448, 102.50368, 136.4825...","[37.4, 40.867805, 43.891308, 43.17109, 43.6154...",[],[],"[1e-05, 5.621629, 5.758669, 5.595249, 6.005706...","[25.0, 5.573925, 5.667702, 5.694621, 5.686771,...","[0.0, 4.673807, 4.900196, 5.818325, 5.863086, ..."
4,95eac36b06f572c38079051c401d1e0c120bf97162dadd...,0bb8b3565f78de95ea947e6152e580f3887bfeb21c695e...,2017-04-23 08:59:45,2017-04-23 09:59:45,43265.7,154.222,51.47,0.01,200.0,231.0,...,0101000020E610000000000040E17A843F0000000029BC...,0101000020E610000000000040E17A843F0000000029BC...,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 181.76706, 214.09267, 245.91838, 279.538...","[42.0, 42.283722, 43.70605, 44.0, 44.107895, 4...",[],[],"[1e-05, 6.20311, 5.29429, 6.334541, 5.038484, ...","[25.0, 24.999996, 17.841055, 13.662127, 11.647...","[0.0, 6.1086, 4.903893, 6.234581, 5.009134, 4...."

In [3]:
len(df)

11165

In [4]:
# checking the percentage of missing values
100 * (df.isnull().sum()/df.shape[0])

hashedid                       0.0
hashedathleteid                0.0
startdate                      0.0
startdatelocal                 0.0
totaldistance                  0.0
elevgain                       0.0
startlatapprox                 0.0
startlngapprox                 0.0
cumulative_elevation_gain      0.0
cumulative_elevation_loss      0.0
activity_id                  100.0
city_name                      0.0
country_code                   0.0
row_number                     0.0
geom                           0.0
geog                           0.0
distance_100                   0.0
time_100                       0.0
elevation_100                  0.0
cadence_100                    0.0
heartrate_100                  0.0
pace_diff_100                  0.0
pace_cumul_100                 0.0
gap_100                        0.0
dtype: float64

In [5]:
# removing activity_id since it is empty
df.drop('activity_id', axis=1, inplace=True)
df.columns

Index(['hashedid', 'hashedathleteid', 'startdate', 'startdatelocal',
       'totaldistance', 'elevgain', 'startlatapprox', 'startlngapprox',
       'cumulative_elevation_gain', 'cumulative_elevation_loss', 'city_name',
       'country_code', 'row_number', 'geom', 'geog', 'distance_100',
       'time_100', 'elevation_100', 'cadence_100', 'heartrate_100',
       'pace_diff_100', 'pace_cumul_100', 'gap_100'],
      dtype='object')

In [6]:
# dropping all the irrelevant columns
df.drop(['startdate', 'elevgain', 'startlatapprox', 'startlngapprox', 'cumulative_elevation_gain', 'cumulative_elevation_loss', 'row_number', 'geom', 'geog'], axis=1, inplace=True)
df.head()

,hashedid,hashedathleteid,startdatelocal,totaldistance,city_name,country_code,distance_100,time_100,elevation_100,cadence_100,heartrate_100,pace_diff_100,pace_cumul_100,gap_100
0,95ddefe02c667abc7e449159804acdadd33ab690767e60...,9476162dd80f399d8b8019fe3c33d86ab324ba652be562...,2017-04-23 10:01:47,42987.1,london,gb,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 34.039024, 64.84619, 94.783936, 123.9860...","[42.7, 44.000004, 44.231876, 43.991158, 44.148...",[],"[124.0, 165.06412, 172.00883, 189.06175, 184.5...","[1e-05, 5.486274, 5.23594, 5.017931, 4.783493,...","[25.0, 5.67318, 5.403746, 5.265825, 5.166199, ...","[0.0, 5.115103, 5.170641, 5.08384, 4.742967, 4..."
1,95e238205210d9410e4fe0ecbab3df223313340a83f3ab...,1d451ca69475b02a540536e6d8303ff0e9a2189fc603af...,2017-04-23 10:02:22,42436.4,london,gb,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 23.38406, 48.982754, 75.6115, 102.20331,...","[44.2, 44.509953, 43.50354, 42.902058, 42.7556...","[62.0, 100.199394, 96.13578, 96.58066, 95.7775...",[],"[1e-05, 4.088528, 4.540111, 4.395275, 4.337309...","[25.0, 3.896713, 4.082259, 4.200669, 4.258449,...","[0.0, 4.020532, 4.795212, 4.541101, 4.371863, ..."
2,95e4bee9c5287aa9339a15f43f7a7262a827cfcf65a1d7...,912180a889addc1320448dad144b09afb0b2ac8a2e5fdd...,2017-04-23 10:14:24,48148.6,london,gb,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 43.40611, 79.21527, 113.43089, 146.13931...","[43.9, 44.791477, 44.294205, 43.18896, 42.7954...",[],[],"[1e-05, 10.208913, 3.34587, 3.3863, 4.578401, ...","[25.0, 7.235872, 6.601139, 6.301589, 6.089155,...","[0.0, 9.729244, 3.437359, 3.595867, 4.677167, ..."
3,95e7b6abd37f03f872454c8f136e3d6784080291d53f97...,f71c47c9d4b221081955aad7b74459965704586fe5b7bf...,2017-04-23 10:05:36,43456.8,london,gb,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 33.455444, 68.01448, 102.50368, 136.4825...","[37.4, 40.867805, 43.891308, 43.17109, 43.6154...",[],[],"[1e-05, 5.621629, 5.758669, 5.595249, 6.005706...","[25.0, 5.573925, 5.667702, 5.694621, 5.686771,...","[0.0, 4.673807, 4.900196, 5.818325, 5.863086, ..."
4,95eac36b06f572c38079051c401d1e0c120bf97162dadd...,0bb8b3565f78de95ea947e6152e580f3887bfeb21c695e...,2017-04-23 09:59:45,43265.7,london,gb,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 181.76706, 214.09267, 245.91838, 279.538...","[42.0, 42.283722, 43.70605, 44.0, 44.107895, 4...",[],[],"[1e-05, 6.20311, 5.29429, 6.334541, 5.038484, ...","[25.0, 24.999996, 17.841055, 13.662127, 11.647...","[0.0, 6.1086, 4.903893, 6.234581, 5.009134, 4...."

In [7]:
# checking for duplicate rows and keeping the first instance 
df.drop_duplicates(subset=['hashedid'], keep='first', inplace=True)

In [8]:
df.to_pickle("./cleanedLondon.pkl")